{
  "presets": [
    "es2015", "stage-0"
  ],
  "plugins": [
    ["transform-runtime", "syntax-async-functions", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "ignore": [
    "worker/*.js"
  ]
}