{
  "extends": ["eslint-config-standard", "eslint-config-prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "prefer-promise-reject-errors": "off",
    "no-new-func": "off",
    "standard/no-callback-literal": "off"
  }
}
